.classpath
.manager
.settings
.project
target
.externalToolBuilders/
.scala_dependencies
lift_proto*
lib_managed
project/boot
project/plugins/project
project/plugins/src_managed
/.idea_modules/
/.idea/