.classpath
.manager
.settings
.project
target
.externalToolBuilders/
.scala_dependencies
lift_proto*
lib_managed
project/boot
project/build.properties
project/plugins/project
project/plugins/src_managed



